@import "/fonts.css";

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Happy Monkey, cursive;
}

h1 {
  font-size: 2rem;
  margin: 1rem auto;
}

.calculator {
  max-width: fit-content;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px #969595;
}

.input-area {
  height: 60px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.input-area textarea {
  max-height: 100%;
  min-height: 100%;
  max-width: fit-content;
  min-width: 100%;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.button {
  height: 60px;
  width: 60px;
  margin: 3px;
  font-size: 1.5rem;
  background: #f57446;
  text-shadow: 0 0 1px black;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
}

.button:last-child,
.panel-4 .button {
  color: #fff;
  background: #383838;
}

.button-equal {
  width: 130px;
}

.button:active {
  background: #f34505;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 10px;
  font-size: 1.1rem;
  color: #2b2a2a;
  font-weight: bold;
}

.cil {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 5px auto;
}

.cil li {
  margin: 10px;
}

.cil a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid;
}
